* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #4203a9, #90bafc);
}

.container {
  width: 50%;
  min-height: 70vh;
  color: #fff;
  padding: 40px;
}

.calculator {
  width: 100%;
  max-width: 600px;
  margin-right: 10%;
}

.calculator h1 {
  font-size: 60px;
  text-align: center;
}

.input-box {
  margin: 40px 0;
  padding: 35px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
}

.input-box input {
  flex: 1;
  margin-right: 20px;
  padding: 14px 20px;
  border: 0;
  outline: 0;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
}

.input-box button {
  background: #fff;
  border: 0;
  outline: 0;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 700;
  color: #333;
  cursor: pointer;
  font-size: 17px;
}

.input-box input::webkit-calendar-picker-indicator {
  top: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: auto;
  position: absolute;
  background-position: calc(100%-10px);
  background-size: 30px;
  cursor: pointer;
}

#result {
  font-size: 20px;
  text-align: center;
}

#result span {
  color: #3af3da;
  font-weight: 600;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .container {
    width: 60%;
  }

  .calculator {
    margin-right: 5%;
  }

  .calculator h1 {
    font-size: 50px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 70%;
  }

  .calculator h1 {
    font-size: 40px;
  }

  .input-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .input-box input {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .input-box button {
    width: 100%;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 80%;
    padding: 20px;
  }

  .calculator h1 {
    font-size: 35px;
  }

  .input-box {
    padding: 20px;
  }

  .input-box input {
    font-size: 16px;
    padding: 10px 15px;
  }

  .input-box button {
    font-size: 16px;
    padding: 10px 20px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }

  .calculator h1 {
    font-size: 30px;
  }

  .input-box {
    margin: 20px 0;
  }

  .input-box input {
    font-size: 14px;
  }

  .input-box button {
    font-size: 14px;
  }

  #result {
    font-size: 18px;
  }
}
